@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700,500);
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Montserrat:wght@500&display=swap');
  /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */
}

@layer utilities {}

/* html {
  @apply font-Poppins scroll-smooth;
} */

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: inherit;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background: #000000;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #252525;
}

::-webkit-scrollbar-track {
  background: #eeb88184;
}

/**/